/\.scala-build/
/tmp/
/tmp_fide/
/tmp_*
/_cloudrun_service.json
/_edge_cookies.db
/ops-*-cookie*.txt
/test-results/

/lila-docker/conf/*.pem
/lila-docker/logs/
/lila-docker/repos/lila/error.txt

/lila-docker/scripts/install_auto_deploy_task.ps1
/lila-docker/scripts/ops_auto_deploy.ps1
/lila-docker/scripts/remove_auto_deploy_task.ps1
/tools/stockfish/
