.analyse {
  &__side {
    align-self: start;
    display: flex;
    flex-direction: column;

    .back-to-game {
      margin-top: 2em;

      @include mq-at-least-col3 {
        margin-top: 10vh;
      }

      text-align: center;

      .button {
        margin: 0 auto;
      }
    }
  }
}
