@include mq-is-col1 {
  .analyse__tools {
    .sub-box {
      order: 0;
    }

    .ceval,
    .pv_box,
    .analyse__fork,
    .gamebook-edit {
      order: 1;
    }

    .analyse__moves {
      order: 2;
    }

    .ceval .engine {
      margin-inline-start: 12px;
    }

    .ceval .switch,
    .ceval pearl {
      display: none;
    }
  }

  .analyse__controls {
    padding-top: 6px;
    height: 5rem;
    touch-action: pan-y;

    .jumps {
      order: 1;
    }

    [data-act='opening-explorer'] {
      order: 2;
    }

    [data-act='menu'] {
      order: 3;
    }

    .fbt {
      flex: 3;
      margin: 3px 2px 0;
      border: 1px solid $m-clearer--fade-95;
      border-bottom: none;
      border-radius: 6px 6px 0 0;
      background: $m-bg_bg-page--mix-50;
    }

    .scrub-help {
      margin-inline: 3px;
      align-self: center;
      font-family: 'chesstory';
      font-size: 1.1em;
      color: $c-border;
    }

    .jumps {
      flex: 40%;
    }

    .jumps:has([data-act='first']) {
      padding-inline: 8px;
      flex: 50%;
    }

    .jumps .fbt {
      margin: 5px 2px;
      background: $m-bg_bg-page--mix-50;
      border: 1px solid $m-clearer--fade-95;
    }

    .jumps .fbt[data-act='first'],
    .jumps .fbt[data-act='last'] {
      flex: 1.6;
    }

    .fbt.active {
      padding-top: 0;
      border-bottom: none;
    }

    eval {
      font-size: 1.2em;
      pointer-events: none;
    }
  }

  .analyse[data-active-tool] .analyse__tools,
  .analyse[data-active-mode] .analyse__tools {
    border-radius: 0 0 $box-radius-size $box-radius-size;
  }

  .analyse[data-active-tool] .analyse__tools,
  .analyse[data-active-mode='ceval'] .analyse__tools {
    border-top: 3px solid $c-secondary;
  }

  #analyse-toggle-ceval+label {
    background-color: $c-font-dimmer;
    width: 24px;
    height: 33px;
  }

  #analyse-toggle-ceval+label::before,
  #analyse-toggle-ceval+label::after {
    top: 0;
    margin-top: 9px;
  }

  #analyse-toggle-ceval:checked+label::before,
  #analyse-toggle-ceval:checked+label::after {
    margin: 0;
  }
}
