name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Backend Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.backend
          push: false # Just verify build for now
          tags: condensed-chess-api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Frontend Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.frontend
          push: false # Just verify build for now
          tags: condensed-chess-web:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
